<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Totes les dades
    </ion-title>
    <p slot="end">Filtre</p>
    <ion-button fill="none" slot="end" (click)="toggleSearchBar()">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="show">
    <ion-searchbar showCancelButton="focus" (input)="filter()" [(ngModel)]="val"></ion-searchbar>
    {{ val }}
  </ion-content>

  <ion-list>
    <ion-item *ngFor="let d of dadesAMostrar">
      <ion-label>{{ d.data }} {{ d.nous_casos_diaris_confirmats }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
