<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Últimes dades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>

      <ion-item>
        <ion-title>
          Ubicació
        </ion-title>
        Catalunya
      </ion-item>

      <ion-item>
        <ion-title>
          Data
        </ion-title>
        {{ ultimaData }}
      </ion-item>

      <ion-item>
        <ion-title>
          Nous casos diaris confirmats
        </ion-title>
        {{ ultimaDada.nous_casos_diaris_confirmats }}
      </ion-item>

      <ion-item>
        <ion-title>
          Total casos confirmats
        </ion-title>
        {{ ultimaDada.total_de_casos_confirmats }}
      </ion-item>

      <ion-item>
        <ion-title>
          Defuncions diàries
        </ion-title>
        {{ ultimaDada.defuncions_di_ries }}
      </ion-item>

      <ion-item>
        <ion-title>
          Total defuncions
        </ion-title>
        {{ ultimaDada.total_de_defuncions }}
      </ion-item>

    </ion-list>
  </ion-content>

</ion-content>
